<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<form th:action="updateMember" th:method="post">
    账号： <span th:text="${memberInfo.account}"></span> <br/>
    性别： <input th:name="sex" th:type="radio" th:value="0" checked/>男 <input th:name="sex" th:type="radio" th:value="1"/>女<br/>
    年龄： <input th:name="age" th:type="text"/> <br/>
    手机号： <input th:name="phone" th:type="text"/> <br/>
    <input th:type="submit" th:value="完善资料"/> <br/>
</form>
</body>
</html>